{:deps {:aliases [:frontend]}
 :dev-http {3000 ["resources/public/" "../resources/public/"]}
 :builds {:renderer {:target :browser
                     :modules {:main {:init-fn jidash.render.core/init}}
                     :devtools {:after-load jidash.render.core/reload
                                :preloads [day8.re-frame-10x.preload]}
                     :output-dir "resources/public/js/"
                     :asset-path "js"
                     :closure-defines {"re_frame.trace.trace_enabled_QMARK_" true}}
          :app {:target :browser
                :modules {:main {:init-fn jidash.render.core/init}}
                :release {:compiler-options {:optimizations :advanced}}
                :output-dir "resources/public/js/"
                :asset-path "js"}}}